<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Filmes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Lista de Filmes</h1>
        <div class="list-group">
            <% filmes.forEach(filme => { %>
                <a href="/filme/<%= filme._id %>" class="list-group-item list-group-item-action">
                    <img style="width: 10%;" src="<%= filme.cartaz %>" class="card-img-top" alt="Cartaz do Filme">
                    <%= filme.titulo %>
                   
                </a>
                <span class="float-right">
                    <a href="/filme/editar/<%= filme._id %>" class="btn btn-primary btn-sm">Editar</a>
                    <form method="POST" action="/filme/apagar/<%= filme._id %>" style="display: inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Apagar</button>
                    </form>
                </span>
            <% }); %>
        </div>
        <a href="/perfil" class="btn btn-primary mt-2">Voltar</a>
    </div>
</body>
</html>
